<h1 style="margin-bottom: 15px;">Filmy <i class="fa fa-refresh text-primary" (click)="getFilms()" [class.spin]="refreshing" [class.text-secondary]="refreshing"  aria-hidden="true"></i>
  <div  *ngIf="deleteProcessing" style="text-align: center; margin-top: -48px;">
    <i class="fa fa-circle-o-notch text-danger" aria-hidden="true"></i> Usuwanie
  </div>

</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Reżyser</th>
      <th>Rok</th>
      <th>Gatunek</th>
      <th>Długość</th>
      <th *ngIf="user.Uprawnienia == 1">Usuń</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td>{{film.Tytul}}</td>
      <td>{{film.Rezyser}}</td>
      <td>{{film.Rok}}</td>
      <td>{{film.Gatunek}}</td>
      <td>{{film.Dlugosc}} min</td>
      <td *ngIf="user.Uprawnienia == 1">
        <button (click)="deleteFilm(film.Id)" class="btn btn-outline-danger">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </td>

    </tr>
  </tbody>
</table>


<div *ngIf="user.Uprawnienia == 1" class="card border-primary">
  <div class="card-header">
    <h3>Dodaj film</h3>
  </div>

  <form (ngSubmit)="addFilm()" #filmForm="ngForm">

    <div class="card-body">

      <label>Tytuł</label>
      <input name="tytul" [(ngModel)]="newFilm.Tytul" type="text" class="form-control" required>
      <label>Reżyser</label>
      <input name="rezyser" [(ngModel)]="newFilm.Rezyser" type="text" class="form-control" required>
      <label>Rok produkcji</label>
      <input name="rok" [(ngModel)]="newFilm.Rok" type="date" class="form-control" required>
      <label>Gatunek</label>
      <input name="gatunek" [(ngModel)]="newFilm.Gatunek" type="text" class="form-control" required>
      <label>Długość (min)</label>
      <input name="dlugosc" [(ngModel)]="newFilm.Dlugosc" type="number" class="form-control" required min="1">

    </div>

    <div *ngIf="!processing" class="card-body">
      <button [disabled]="!filmForm.form.valid" type="submit" class="btn btn-primary btn-lg btn-block">Dodaj film</button>
      <h5 *ngIf="submitError" style="text-align: center" class="text-danger">Operacja nie powiodła się</h5>

    </div>

  </form>

  <div *ngIf="processing" class="card-body" style="text-align: center;">
    <i class="fa fa-circle-o-notch text-success" aria-hidden="true"></i>
  </div>

</div>