<div id="wrapper" [ngClass]="toogle">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <button *ngIf="toogle" style="margin-left: 165px;  width: 100px;" class="btn btn-warning" (click)="toggleMenu()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
    <ul class="sidebar-nav">

      <li *ngFor="let s of side; let i = index">
        <a routerLink="/cinema/{{s.route}}" [routerLinkActive]="['active']">{{s.name}}</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <button *ngIf="!toogle" class="btn btn-warning" style="left: 0; margin: -5px; margin-top: -19px; position: fixed;" (click)="toggleMenu()">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
    <div style="padding-left: 30px; padding-right: 30px;" class="container-fluid">

      <router-outlet></router-outlet>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>