<h1>Moje Bilety <i class="fa fa-refresh text-primary" (click)="getTickets()" [class.spin]="refreshing" [class.text-secondary]="refreshing"  aria-hidden="true"></i></h1>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Tytuł</th>
        <th scope="col">Data</th>
        <th scope="col">Godzina</th>
        <th scope="col">Sala</th>
        <th scope="col">Miejsce</th>
        <th scope="col">Rząd</th>
        <th scope="col">Cena</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let ticket of tickets">
       <td>{{ticket.Tytul}}</td>
       <td>{{ticket.DataSeansu}}</td>
       <td>{{ticket.Godzina}}</td>
       <td>{{ticket.NazwaSali}}</td>
       <td>{{ticket.NrMiejsca}}</td>
       <td>{{ticket.Rzad}}</td>
       <td>{{ticket.Cena}}</td>
     </tr>
    </tbody>
  </table> 