<h1>Seanse</h1>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Tytuł</th>
        <th scope="col">Reżyser</th>
        <th scope="col">Gatunek</th>
        <th scope="col">Długość</th>
        <th scope="col">Rok Produkcji</th>
        <th scope="col">Data seansu</th>
        <th scope="col">Godzina</th>
        <th scope="col">Sala</th> 
        <th scope="col">Wolne miejsca</th>
        <th scope="col">Cena</th>
        <th>Usuń</th>
        
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let seance of seances">
       <td>{{seance.Tytul}}</td>
       <td>{{seance.Rezyser}}</td>
       <td>{{seance.Gatunek}}</td>
       <td>{{seance.Dlugosc}} min</td>
       <td>{{seance.Rok}}</td>
       <td>{{seance.DataSeansu}}</td>
       <td>{{seance.Godzina}}</td>
       <td>{{seance.NazwaSali}}</td>
       <td>{{seance.WolneMiejsca}}</td>
       <td>{{seance.Cena}} zł</td>
       <td><button (click)="deleteRoom(room.Id)" class="btn btn-outline-danger"><i class="fa fa-times" aria-hidden="true"></i></button></td>
       
     </tr>
    </tbody>
  </table> 