<h1>Seanse <i class="fa fa-refresh text-primary" (click)="getSeances()" [class.spin]="refreshing" [class.text-secondary]="refreshing"  aria-hidden="true"></i>
  <div *ngIf="deleteProcessing" style="text-align: center; margin-top: -48px;">
    <i class="fa fa-circle-o-notch text-danger" aria-hidden="true"></i> Usuwanie
  </div>
</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Reżyser</th>
      <th>Gatunek</th>
      <th>Długość</th>
      <th>Rok Produkcji</th>
      <th>Data seansu</th>
      <th>Godzina</th>
      <th>Sala</th>
      <th>Wolne miejsca</th>
      <th>Cena</th>
      <th *ngIf="user.Uprawnienia == 1">Usuń</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let seance of seances">
      <td>{{seance.Tytul}}</td>
      <td>{{seance.Rezyser}}</td>
      <td>{{seance.Gatunek}}</td>
      <td>{{seance.Dlugosc}} min</td>
      <td>{{seance.Rok}}</td>
      <td>{{seance.DataSeansu}}</td>
      <td>{{seance.Godzina}}</td>
      <td>{{seance.NazwaSali}}</td>
      <td>{{seance.WolneMiejsca}}</td>
      <td>{{seance.Cena}} zł</td>
      <td *ngIf="user.Uprawnienia == 1">
        <button (click)="deleteSeance(seance.Id)" class="btn btn-outline-danger">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </td>

    </tr>
  </tbody>
</table>


<div *ngIf="user.Uprawnienia == 1" class="card border-primary">
  <div class="card-header">
    <h3>Dodaj seans</h3>
  </div>

  <form (ngSubmit)="addSeance()" #seanceForm="ngForm">

    <div class="card-body">

      <label>Film</label>
      <select name="film" [(ngModel)]="newSeance.IdFilmu" class="form-control" required>
        <option *ngFor="let film of films" [ngValue]="film.Id">{{film.Tytul}}</option>
      </select>

      <label>Sala</label>
      <select name="room" [(ngModel)]="newSeance.IdSali" class="form-control" required>
        <option *ngFor="let room of rooms" [ngValue]="room.Id">{{room.NazwaSali}}</option>
      </select>

      <label>Data</label>
      <input name="rok" [(ngModel)]="newSeance.Data" type="date" class="form-control" required>
      <label>Godzina</label>
      <input name="godzina" [(ngModel)]="newSeance.Godzina" type="time" class="form-control" required>
      <label>Cena (zł)</label>
      <input name="cena" [(ngModel)]="newSeance.Cena" type="number" class="form-control" required min="0">

    </div>

    <div *ngIf="!processing" class="card-body">
      <button [disabled]="!seanceForm.form.valid" type="submit" class="btn btn-primary btn-lg btn-block">Dodaj film</button>
      <h5 *ngIf="submitError" style="text-align: center" class="text-danger">Operacja nie powiodła się</h5>

    </div>

  </form>

  <div *ngIf="processing" class="card-body" style="text-align: center;">
    <i class="fa fa-circle-o-notch text-success" aria-hidden="true"></i>
  </div>

</div>