html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    margin-top: 55px;
}

legend{
    margin-top: 5px;
}

label{
    margin-top: 10px;
    margin-bottom: 1px;
    font-size: 18px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fa-circle-o-notch{
    animation: spin 1s linear infinite;
    font-size: 40px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
}

.ng-invalid:not(form).ng-touched  {
    border-left: 5px solid #a94442;
}