<div>
  <div class="jumbotron">
    <div class="container">
      <div style="text-align: center">
      
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="text-align: center">
      <div class="col-lg-4">
        <img class="rounded-circle" src="/assets/images/clapperboard.png" width="140" height="140">
        <h2>Filmy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/tickets.png" width="140" height="140">
          <h2>Bilety</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/assets/images/frame.png" width="140" height="140">
            <h2>Więcej filmów</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
          </div>
          <!-- /.col-lg-4 -->
        </div>
      </div>
    </div>
